@import url('https://webfontworld.github.io/NexonMaplestory/NexonMaplestory.css');
@import "reset.css";
@import "variable.css";
@import "components/status-bar.css";
@import "components/badge.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
body {
    font-family: 'NexonMaplestory';
    
}
.main-screen {
    padding: 0px var(--padding-side);
}
